@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Black Ops One", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 150px 0;
  overflow-x: hidden;
}

body {
  background-color: green;
  color: rgb(241, 236, 236);
}

a {
  text-decoration: none;
}

/* NAV */

.nav-container {
  display: flex;
  justify-content: end;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  overflow-x: hidden;
}

ul {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
}

.search-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.5s ease-in-out;
  color: white;
  opacity: 0;
}

.search-content:hover {
  color: #6e5c3c;
}

.social-icon {
  width: 30px;
  height: auto;
  opacity: 0;
}

li {
  list-style: none;
  /* border: 1px solid white; */
  transition: all 0.5s ease-in-out;
  padding: 5px;
  cursor: pointer;
}

.section--1,
.section--2,
.section--3,
.section--4 {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 80px;
}

header,
section {
  margin-bottom: 100px;
}

/* section--1 */
.section--1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.sub-title {
  color: white;
  font-size: 1.5rem;
}

.char {
  opacity: 0;
}

.section--1-title {
  line-height: 1.7;
  opacity: 0;
  overflow: hidden;
}

.top-left {
  opacity: 0;
  z-index: 2;
  opacity: 0;
}

.top-left-center {
  opacity: 0;
}

.btn-content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 20px;
  width: 100%;
}

.btn {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-animate {
  opacity: 0;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

/* section--2 */
.section--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  overflow: hidden;
}

.right-gallery {
  display: flex;
  flex-wrap: wrap;
}

.right-gallery img {
  width: 100px;
}

.section--2-title {
  color: white;
}

.section--2-text {
  color: #444;
  line-height: 1.7;
}

/* section--3 */

.section--3-text {
  color: white;
  line-height: 2;
}

.sectionThree {
  background-color: rgb(80, 78, 78);
  padding: 100px 0;
}

/* ROADMAP */

.cards {
  height: 70vh;
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.card {
  position: absolute;
  width: 100%;
  height: auto;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin-bottom: 50px;
}

.card-1 {
  left: 0;
  top: 0;
  overflow: hidden;
}

.card-2 {
  left: 35px;
  top: 35px;
  overflow: hidden;
}

.card-3 {
  left: 70px;
  top: 70px;
  overflow: hidden;
}

.card h2,
.card p {
  font-size: 3rem;
  font-weight: 900;
  font-stretch: condensed;
  color: #ff98a2;
  text-transform: uppercase;
}

.cards line {
  background-color: white;
  height: 3px;
}

.section-title {
  text-align: center;
  padding: 50px 0;
}

@media (min-width: 768px) {
}

/* //////////////////////////////////////////////////////////////  */
/* //////////////////////////////////////////////////////////////  */
/* //////////////////////////////////////////////////////////////  */

@media screen and (max-width: 900px) {
  /* NAV */
  .nav-container {
    display: block;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 5px 0;
    overflow-x: hidden;
  }

  ul {
    gap: 20px;
  }

  .container {
    width: 90%;
  }

  /* section--1 */

  .section--1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .left {
    width: 100%;
  }

  .sub-title {
    color: white;
    font-size: 1.1rem;
    padding-bottom: 10px;
  }

  .section--1-title {
    line-height: 1.7rem;
    font-size: 1.2rem;
    width: 100%;
  }

  svg {
    width: 100%;
  }

  .btn-content {
    margin-top: 20px;
    gap: 10px;
  }

  .button-52 {
    padding: 13px 50px 13px;
  }

  /*  */

  .section--1,
  .section--2,
  .section--3 {
    padding: 20px;
  }

  /* section--2 */

  .right-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .section--2 {
    grid-template-columns: 1fr;
  }

  /* ROADMAP */
  .card-1 {
    left: 0;
    top: 0;
    width: 100%;
  }

  .card-2 {
    left: 35px;
    top: 35px;
    width: 100%;
  }

  .card-3 {
    left: 50px;
    top: 50px;
    width: 100%;
  }

  .card h2,
  .card p {
    font-size: 1.2rem;
    font-weight: 900;
    font-stretch: condensed;
    color: #ff98a2;
    text-transform: uppercase;
  }

  .card div div {
    padding: 20px 5px;
  }
}
